<html>
    <head>
        <title>Recycle-Partnership</title>
        <!-- Bootstrap Link -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>

    <body>
        <div class="" style="background-color: black">
            <div class="d-flex flex-row col-12 p-2 ">
                <a href='/' class="navbar-brand" style="color: white"><h1>Recycle-Partnership</h1></a>
                <form class="d-flex mt-2" action="/pet" method="get">
                    <input class="form-control " placeholder="Search pet by ID" name="petID" type="text" />
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>

        <!-- flash message -->
        <div class="container d-flex col-12 align-items-center justify-content-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p style="color: blue">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>


        {% block content %}
        {% endblock %}   
    </body>

</html>